@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;900&display=swap');

:root {
  --Cyan-600: #4D96A9;
  --Cyan-300: #8FE3F9;
  --Purple-600: #855FB1;
  --Purple-300: #D9B8FF;
  --Slate-900: #28283D;
  --Slate-600: #87879D;
  --Slate-300: #D1D1DF;

  --white-color: #FAFAFA;

  --font-body: "Red Hat Display", sans-serif;

  /* 작성 규칙: font-weight | font-size/line-height | font-family */
  --text-mobile-preset-1: 900 2.9375rem/1.1 var(--font-body);
  --text-mobile-preset-2: 900 2rem/1.1 var(--font-body);
  --text-mobile-preset-3: 900 0.75rem/1.1 var(--font-body);
  --text-mobile-preset-4: 500 1rem/1.5 var(--font-body);
  --text-mobile-preset-5: 900 1rem/1.5 var(--font-body);

  --text-tablet-preset-1: 900 3rem/1.1 var(--font-body);
  --text-tablet-preset-2: 900 2.25rem/1.1 var(--font-body);
  --text-tablet-preset-3: 900 0.875rem/1.1 var(--font-body);
  --text-tablet-preset-4: 500 1rem/1.5 var(--font-body);

  --text-desktop-preset-1: 900 4rem/1.1 var(--font-body);
  --text-desktop-preset-2: 900 2.5rem/1.1 var(--font-body);
  --text-desktop-preset-3: 900 1rem/1.1 var(--font-body);
  --text-desktop-preset-4: 500 1.125rem/1.5 var(--font-body);

}

.wrapper {
  width: 100%;
  max-width: 1440px;
  margin-inline: auto;
}

header {
  width: 100%;
  height: 76px;
  text-align: center;
  vertical-align: bottom;
  position: relative;
}

.logo {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 79px;
  height: auto;
}

.landing {
  width: min(369px, 100%);
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 4rem 2rem 0 2rem;
}

.hero {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-areas:
    "left right"
    "text text"
  ;

  column-gap: 1.05625rem;
  row-gap: 3rem;
  padding-bottom: 2rem;
}

.hero__left,
.hero__right {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__left {
  grid-area: left;
  justify-self: end;

  width: 208.05px;
  height: 160px;
}

.hero__right {
  grid-area: right;
  justify-self: start;
  width: 208.05px;
  height: 160px;
}

@media (max-width: 767px) {
  .hero__left {
    background-image: url(../images/desktop/image-hero-left.png);
  }

  .hero__right {
    background-image: url(../images/desktop/image-hero-right.png);
  }
}

.hero__media {
  display: none;
  width: 100%;
  aspect-ratio: 820 / 303;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__text {
  grid-area: text;
}

.hero__text-title {
  font: var(--text-mobile-preset-1);
  color: var(--Slate-900);
  text-align: center;
}

.hero__text-desc {
  margin-block-start: 1.5rem;
  font: var(--text-mobile-preset-4);
  color: var(--Slate-600);
  text-align: center;
}

.hero__text-button {
  margin-block-start: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.download {
  --btn-bg: var(--Cyan-600);
  width: 193px;
  border-radius: 29px;
  display: block;
  padding: 1rem 2.5rem;
  background: var(--btn-bg);
  color: var(--white-color);
  font: var(--text-mobile-preset-5);
  transition: background-color 0.2s ease;
}

.download span {
  color: var(--Cyan-300)
}

.secondary-action {
  --btn-bg: var(--Purple-600);
  width: 161px;
  border-radius: 29px;
  display: block;
  padding: 1rem 2.5rem;
  background: var(--btn-bg);
  color: var(--white-color);
  font: var(--text-mobile-preset-5);
  transition: background-color 0.2s ease;
}

.divider {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.divider::after {
  content: attr(data-number);
  display: block;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  text-align: center;
  color: var(--Slate-600);
  font: var(--text-mobile-preset-5);
  background-color: var(--white-color);
  border: 1px solid var(--Slate-300);
  line-height: 56px;
}

.divider::before {
  content: '';
  display: block;
  width: 1px;
  height: 80px;
  border: 1px solid var(--Slate-300);
}

.divider--one {
  margin-block-start: 2rem;
  margin-block-end: 4rem;
}

.content {
  padding-bottom: 4rem;
}

.content__media {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.content__media img {
  min-width: 0;
  width: 100%;
  aspect-ratio: 510 / 484;
  object-fit: cover;
  border-radius: 5px;
  flex-basis: calc(50% - 1rem);
}

.content__body {
  margin-block-start: 4rem;
}

.content__eyebrow {
  text-align: center;
  font: var(--text-mobile-preset-3);
  letter-spacing: 4px;
  color: var(--Cyan-600);
  text-transform: uppercase;
}

.content__title {
  margin-block-start: 1rem;
  text-align: center;
  font: var(--text-mobile-preset-2);
  color: var(--Slate-900);
}

.content__desc {
  margin-block-start: 2rem;
  text-align: center;
  font: var(--text-mobile-preset-4);
  color: var(--Slate-600);
}

.divider--two {
  position: relative;
  z-index: 1;
  margin-block-start: 4rem;
}

.footer {
  background-image: linear-gradient(rgba(77, 150, 168, 0.8), rgba(77, 150, 168, 0.8)),
    url(../images/mobile/image-footer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block-start: -1.75rem;
  padding-block-end: 4rem;
}

.footer__wrapper {
  margin-block-start: 4rem;
}

.footer__title {
  font: var(--text-mobile-preset-2);
  color: #fff;
  text-align: center;
}

.footer__message {
  margin-block-start: 1.5rem;
  font: var(--text-mobile-preset-4);
  text-align: center;
  color: #fff;
}

.footer__download {
  --btn-bg: var(--Purple-600);
  text-align: center;
  background-color: var(--btn-bg);
  margin: 1.5rem auto 0;
}

.download:hover,
.secondary-action:hover,
.footer__download:hover {
  background-color: color-mix(in srgb, var(--btn-bg) 85%, black);
}

.footer__download span {
  color: var(--Purple-300);
}

/* Tablet */
@media (min-width: 768px) {
  .landing {
    width: min(680px, 100%);
  }

  .hero {
    grid-template-areas:
      "media media"
      "text text"
    ;
    column-gap: 2rem;
    row-gap: 4.5rem;
    padding-bottom: 4rem;
  }

  .hero__left,
  .hero__right {
    display: none;
  }

  .hero__media {
    display: block;
    grid-area: media;
    background-image: url(../images/tablet/image-hero.png);
  }

  .hero__text {
    justify-self: center;
    width: min(448px, 100%);
  }

  .hero__text-title {
    font: var(--text-tablet-preset-1);
    text-wrap: balance;
  }

  .hero__text-desc {
    font: var(--text-tablet-preset-4);
  }

  .hero__text-button {
    flex-direction: row;
    justify-content: center;
  }

  .content__media {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .content__media {
    width: min(504px, 100%);
    margin-left: auto;
    margin-right: auto;
  }

  .content__eyebrow {
    font: var(--text-tablet-preset-3);
  }

  .content__title {
    font: var(--text-tablet-preset-2);
    width: min(445px, 100%);
    margin-left: auto;
    margin-right: auto;
  }

  .content__desc {
    font: var(--text-tablet-preset-4);
  }

  .footer__wrapper {
    width: min(504px, 100%);
    margin-left: auto;
    margin-right: auto;
  }

  .footer {
    background-image: linear-gradient(rgba(77, 150, 168, 0.8), rgba(77, 150, 168, 0.8)),
      url(../images/tablet/image-footer.jpg);
  }
}

/* desktop */
@media (min-width: 1024px) {
  .landing {
    width: min(1120px, 100%);
  }

  .hero {
    grid-template-columns: minmax(0, 1fr) 448px minmax(0, 1fr);
    grid-template-areas:
      "left text right"
    ;
    column-gap: 2rem;
    padding-bottom: 4rem;
  }

  .hero__left,
  .hero__right {
    display: block;
    width: 100%;
    max-width: 394px;
    height: auto;
    aspect-ratio: 394 / 303;
  }

  .hero__left {
    background-image: url(../images/desktop/image-hero-left.png);
  }

  .hero__right {
    background-image: url(../images/desktop/image-hero-right.png);
  }

  .hero__media {
    display: none;
  }

  .hero__text-title {
    font: var(--text-desktop-preset-1);
    text-wrap: balance;
  }

  .hero__text-desc {
    font: var(--text-desktop-preset-4);
  }

  .content__eyebrow {
    font: var(--text-desktop-preset-3);
  }

  .content__media {
    width: min(1120px, 100%);
  }

  .content__title {
    font: var(--text-desktop-preset-2);
    width: min(445px, 100%);
    margin-left: auto;
    margin-right: auto;
  }

  .content__desc {
    width: min(544px, 100%);
    margin-left: auto;
    margin-right: auto;
    font: var(--text-desktop-preset-4);
  }

  .footer__wrapper {
    margin-block-start: 7rem;
    width: min(1120px, 100%);
    display: flex;
    align-items: flex-start;
  }

  .footer {
    background-image: linear-gradient(rgba(77, 150, 168, 0.8), rgba(77, 150, 168, 0.8)),
      url(../images/desktop/image-footer.jpg);
  }

  .footer__title {
    flex-basis: min(445px, 100%);
    text-align: left;
    font: var(--text-desktop-preset-2);
  }

  .footer__message {
    margin-inline-start: 2rem;
    margin-inline-end: 2rem;
    margin-top: 0;
    flex-basis: min(335px, 100%);
    text-align: left;
    font: var(--text-desktop-preset-4);
  }
  .footer__download{
    margin-top: 0;
    margin-right: 0;
    margin-left: auto;
  }
}